body[data-theme="dark"] {
  @import "/src/scss/dark-slider.scss";

  .slider-tab {
    background-color: #4c566a;
  }

  .title-styles {
    color: #d8dee9;
  }

  .header-icon {
    color: #d8dee9;
    opacity: 0.8;
  }

  .slider-image {
    border: 5px solid #4c566a;
  }

  .language {
    background-color: #2e3440;
  }

  .link-href {
    color: #d8dee9;
  }

  .project-date {
    background-color: #4c566a;
    color: #d8dee9;
  }

  header {
    background-color: #2e3440;
    h1 {
      color: #d8dee9;
    }
  }

  #about {
    background-color: #4c566a;
    h1 span {
      color: #d8dee9;
    }
    .polaroid span {
      background: #2e3440;
    }
    .card {
      background: #2e3440;
      color: #d8dee9;
    }
  }

  #portfolio {
    background: #4c566a;
    .section-title {
      color: #d8dee9 !important;
    }
    .foto div {
      background: #2e3440;
    }
    .project-title-settings {
      color: #d8dee9;
    }
  }

  #resume {
    filter: brightness(80%);
    background: #4c566a;
    .section-title {
      color: #d8dee9 !important;
    }

    .experience-badge {
      background: #2e3440 !important;
      color: #d8dee9;
    }

    .main-badge {
      background: #2e3440 !important;
    }

    .vertical-timeline-element-date {
      color: #d8dee9;
    }

    .vertical-timeline-element-icon {
      background: #2e3440 !important;
    }
    @media only screen and (max-width: 1169px) {
      .vertical-timeline-element-date {
        color: black;
      }
    }
  }

  .modal-inside .modal-content {
    background: #2e3440;
    color: #d8dee9;
  }

  .close-icon {
    color: #d8dee9;
  }
}
